name: FastAPI CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest httpx  # Ensure test tools are there

      - name: Run Tests
        env:
          # We pass a dummy key so the tests can pass in the cloud
          API_ACCESS_TOKEN: cp-secure-key-2026
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          pytest
